<div class="post-card">
    <div class="postcard-image">
        <img src={{this.image}} alt="photo">
    </div>
    <div class="postcar-title">
        <p class="postcard-subject">{{this.subject}}</p>
        <p class="postcard-topic">{{this.topic}}</p>
    </div>  
    <div class="postcard-content">
        <p>{{this.content}}</p>
    </div> 
    <div class="postcard-bottom">
        <p class="postcard-created">{{this.created}}</p>
        <p class="postcard-replies"><a>{{this.replies}} replies</a></p>
    </div>
</div>