{{> header}}


<div class="container-fluid" id="profileColumns">
  <div class="row row-no-gutters">
    <div class="col-sm-6" id="columnLeft">
        <object id="profilePic" data={{user.image}} type="image/png">
            <img class="img-circle" src="/img/defaultAvatar.png" alt="Default Avatar"/>
        </object>

        <div class="userInfo"> 
            <span id="profileName">{{user.fname}} {{user.lname}}</span>
            <br>
            <span id="profileAbout">{{user.about}}</span>
        </div>
    </div>
    <div class="col-sm-6" id="columnRight">
        <a href="/message/{{user.id}}"><button id="messageBTN">Message</button></a>
        <br>
        <span><a>{{user.posts}}</a> posts</span>
        <p><a href="/profile/{{user.id}}/like">{{user.likes}} likes</a></p>
    </div>
  </div>
</div>



<h1 id="allPostsTitle">All posts by {{user.fname}}</h1>

<div class="post-list" id="postsByUser">
    {{#each posts}}
        {{> postcard post=posts}}
    {{/each}}
</div>

